# User-specific files
*.suo

# Build results
[Dd]ebug/
[Bb]in/
[Oo]bj/

# Installer results
Installer/Installer/Express/DVD-5/*

# The packages folder can be ignored because of Package Restore
**/packages/*

TKD.Emailer/Config.cs
TKD.Emailer/mas_2000.mdb